.placeholder {
  color: #bbb;
}
.btn[disabled] {
  opacity: .85;
}
textarea {
  max-height: 8em;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
