

<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form>
        <div class="form-group">
            <div class="input-group">
                        
                <input name="query.q" ng-model="query.q" type="text" class="form-control" autofocus />

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" style="width: 60px">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>

            </div>
        </div>
        </form>
    </div>
</div>

<br />
<br />


<div ng-show="query.q"> 
    Showing {{result.results.length || 0 }} of {{result.total || 0}} results
    <span ng-show="result.speed">({{(result.speed / 1000) | number:2}} seconds)</span>
    <hr />
</div>

<div ng-repeat="r in result.results" class="search-result">
    <div class="search-title">
        <a ng-href="" ng-bind-html="r.title"></a>
        <span ng-show="r.topCopy" class="dark glyphicon glyphicon-leaf" title="Top copy"></span>
    </div>
    <div ng-bind-html="r.snippet"></div>
    <div class="search-tags">
        <span ng-repeat="k in r.keywords" tc-tag>
            <span ng-style="{ 'background-color': hashStringToColor(k.vocab) }">&nbsp;</span>
            {{ k.value }}
        </span>
    </div>
</div>

<div class="text-center" ng-show="result.total > result.results.length">
<!-- todo 
    <ul class="pagination">
        <li class="disabled"><a href="">&laquo;</a></li>
        <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    -->
</div>

<div ng-show="!query.q && !app.starting" class="animate-show">
    <br />
    <div class="row">
        <div class="col-md-7 welcome">
            <h2><b>Find, access and manage</b> the data assets we hold as an organisation</h2>
            <br />
            <p>This is the <b>JNCC catalogue</b> &ndash; and it's being built:</p>
            <ul>
                <li>to give us a better foundation for our <b>evidence base</b></li>
                <li>to help us work more effectively, by
                    <ul>
                        <li>knowing <b>which</b> datasets we've got</li>
                        <li>helping you <b>find</b> the datasets you need</li>
                        <li>helping you <b>share</b> knowledge &ndash; between current staff and when you leave</li>
                        <li>encouraging teams to better <b>organise</b> their own data resources</li>
                        <li>improving our ability to serve <b>external</b> requests</li>
                        <li>avoiding <b>asking</b> other organisations for the same data more than once</li> 
                        <li>solving practical problems around dataset <b>licensing</b> and terms of use</li>
                    </ul>
                </li>
                <li>to allow us to benefit from a shared metadata standard, by
                    <ul>
                        <li>making <b>contract</b> deliverables easier to specify</li>
                        <li>sharing metadata with other <b>organisations</b></li>
                        <li><b>contributing</b> to other metadata catalogues and portals</li>
                    </ul>
                </li>
                <li>to satisfy external <b>quality</b> requirements</li>
                <li>to help teams towards their <b>open data</b> responsibilities</li>
            </ul>
            
            <p>We think that there's a clear, common need in many teams that we can meet with a shared solution.
                The catalogue is in the <b>early phases</b> of development.
                Please check out our roadmap (right) and get in touch
                at <a href="mailto:pete.montgomery@jncc.gov.uk">pete.montgomery@jncc.gov.uk</a> if you want
                to help influence the project.</p>
        </div>
        <div class="col-md-5 roadmap">
            <h3>Full text search <span class="label label-default">New</span></h3>
            <p>Check out our super-fast, super-easy, full-text search. It's been designed to make finding datasets in the
                catalogue about as easy as if you were using Google. 
            </p>
            <p>You can currently search all the datasets from
                the Mapping European Seabed Habitats (<a href="http://jncc.defra.gov.uk/page-1583">MESH</a>)
                project. Many thanks to Helen Ellwood for helping us import this really useful seed data.</p>
                
            <br />
            <div class="well well-sm">
                <h2>Roadmap</h2>
                <ul>
                    <li><del>Google-style search</del> <span class="label label-success">Done</span></li>
                    <li><del>Authenticate without passwords</del> <span class="label label-success">Done</span></li>
                    <li>Keyword selection</li>
                    <li>Metadata editor</li>
                    <li>Import MESH metadata</li>
                    <li>Import Pressures metadata</li>
                    <li>Download</li>
                    <li>Validation</li>
                </ul>
                <h3>Wishlist</h3>
                <ul>
                    <li>Spatial search</li>
                    <li>Bounding box editor UI</li>
                    <li>Advanced search</li>
                    <li>Vocabularies</li>
                    <li>Known locations &amp; bounding boxes</li>
                </ul>
            </div>
        </div>
    </div>
</div>
