
<br />

<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <div class="search-box input-group">

            <span>
                <input ng-model="query.q" type="text" class="form-control" autofocus tc-debounce />
            </span>

            <span class="input-group-btn">
                <button class="btn btn-primary big-button" type="button" ng-click="doSearch(query)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>

    </div>
    <!--    <div class="col-md-1">-->
    <!--        <div class="form-inline">-->
    <!--            <button ng-click="advanced = !advanced" class="btn btn-default big-button" tc-tip title="Advanced search options">-->
    <!--                <span class="glyphicon" ng-class="advanced ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="col-sm-2">
        <div class="form-inline">
            <a href="#editor/00000000-0000-0000-0000-000000000000" class="btn btn-default big-button" tc-tip title="Add a record">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
</div>

<div class="search-keyword-suggestions" ng-show="keywordSuggestions[0]">
    <span ng-repeat="k in keywordSuggestions">
        <span tc-tag vocab="{{k.vocab}}" ng-click="addKeywordToQuery(k)" class="pointable">
            <span ng-bind-html="k.value | highlight:query.q"></span>
        </span>
    </span>
    <button ng-show="!result.query.k[0]" class="search-open-vocabulator btn btn-sm btn-dialogue" tc-tip title="Add tags (keywords) to query" ng-click="openVocabulator()">
        &bull;&bull;&bull;
    </button>
</div>

<!--<div class="row search-advanced" ng-show="advanced">-->
<!--    <div class="col-md-7 col-md-offset-2">-->
<!--        <div class="well well-sm">-->
<!--            advanced search options might appear here...?-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div ng-show="result.query" class="search-results-header well well-sm">

    <div class="layout-row">
        <div class="layout-col">
            Found
            <span ng-show="result.total > result.results.length">
                {{result.query.p * 15 || 1}} to {{result.results.length + (query.p * 15) || 0}} of
            </span>
            {{result.total || 0}} records
            <!-- <span ng-show="result.speed">in {{(result.speed / 1000) | number:2}} seconds</span>-->
            <span ng-show="result.query.k[0]">
                <span class="search-results-header-tagged">
                    tagged
                    <span></span>
                    <span tc-tag ng-repeat="s in result.query.k" ng-init="k = keywordFromString(s)">
                        {{k.value}}
                        <span class="glyphicon glyphicon-remove" ng-click="removeKeywordFromQuery(k)" tc-tip title="Remove"></span>
                    </span>
                </span>
                <button class="search-open-vocabulator btn btn-sm btn-dialogue" tc-tip title="Add more tags (keywords) to query" ng-click="openVocabulator()">
                    &bull;&bull;&bull;
                </button>
            </span>

            <span ng-show="result.query.q">
                matching '<b>{{result.query.q}}</b>'
                <span ng-show="result.query.k[0]" class="glyphicon glyphicon-remove" ng-click="query.q = ''" tc-tip title="Remove"></span>
            </span>
        </div>

        <!-- results view / export buttons -->
        <div class="layout-col" ng-show="result.total > 0" style="text-align: right;">
            <div class="search-results-view-picker btn-group" role="group">
                <button class="btn big-button" tc-tip title="List view" ng-click="resultsView = 'list'" ng-class="{ 'btn-primary': resultsView == 'list', 'btn-default': resultsView != 'list' }">
                    <span class="glyphicon glyphicon-align-left"></span>
                </button>
                <button class="btn big-button" tc-tip title="Grid view" ng-click="resultsView = 'grid'" ng-class="{ 'btn-primary': resultsView == 'grid', 'btn-default': resultsView != 'grid' }">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default big-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false" tc-tip title="Export">
                    <span class="glyphicon glyphicon-cloud-download"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a ng-href="../api/export?{{querystring()}}">Export as text file (tab-separated)</a></li>
                    <!--<li class="divider"></li> might be useful-->
                </ul>
            </div>
        </div>
    </div>

</div>

<div ng-if="result.results" ng-switch="resultsView">
    <div ng-switch-when="list" class="row">
        <div class="col-md-9" tc-search-result-scroll-highlighter>
            <div ng-repeat="r in result.results" class="layout-row search-result"
                 ng-class="{highlighted: r.box.north && current.selected == r  }"
                 id="{{r.id}}">
                <div class="layout-col search-format">
                    <span class="dark glyphicon {{r.format.glyph}}" tc-tip title="{{r.format.group}}"></span>
                </div>
                <div class="layout-col">
                    <div class="search-title">
                        <a ng-href="#/editor/{{r.id}}" ng-bind-html="r.title"></a>
                        <span class="search-divider-bullet">&bull;</span>
                        <span class="search-date" ng-show="r.date">{{r.date.substring(0, 4)}}</span>
                        <span class="search-result-top-copy dark glyphicon glyphicon-leaf" ng-show="r.topCopy" title="Top copy" tc-tip></span>
                        <span ng-show="r.box.north" class="pull-right">
                            <span class="search-result-map-control glyphicon glyphicon-map-marker"
                                  title="Select on map" tc-tip ng-click="current.selected = r"></span>
                            <span class="search-result-map-control glyphicon glyphicon-zoom-in"
                                  title="Centre on map" tc-tip ng-click="current.zoomed = r"></span>
                        </span>
                    </div>
                    <div>
                        <span class="search-resource-type">{{r.resourceType }}</span>
                        <span class="search-divider-bullet">&bull;</span>
                        <span ng-bind-html="r.snippet"></span>
                    </div>
                    <div class="search-tags">
                        <span tc-tag ng-repeat="k in r.keywords" tc-tip ng-click="addKeywordToQuery(k)" class="pointable">
                            <span ng-bind-html="k.value | highlight:query.q"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div tc-stick-to-top>
                <div tc-search-map class="search-map"></div>
            </div>
        </div>
    </div>

    <div ng-switch-when="grid" class="layout-row" ng-controller="ResultGridController">
        <div class="search-grid" ui-grid="gridOptions" ui-grid-resize-columns></div>
    </div>
</div>

<div class="text-center" ng-show="result.total > result.results.length">
    <ul class="pagination">
        <li style="cursor: pointer;"><span ng-click="setPage((query.p))">&laquo;</span></li>
        <li style="cursor: pointer;" ng-repeat="n in range(0,maxPages(result.total, pageSize))" ng-class="(n===query.p+1) ? 'active' : ''">
            <span ng-bind="n" ng-click="setPage(n)">n</span>
        </li>
        <li style="cursor: pointer;"><span ng-click="setPage((query.p + 2))">&raquo;</span></li>
    </ul>
</div>

<div ng-show="!query.q && !query.k[0] && !app.starting" class="fade-in-with-delay">
    <div class="row">
        <div class="col-md-7 welcome">
            <h1><b>Discover and organise</b> the data we hold at JNCC with <b>Topcat</b>, our new metadata catalogue</h1>
            <br />
            <h2>Why are we building Topcat?</h2>
            <ul>
                <li>To give us a better foundation for our <b>evidence base</b>.</li>
                <li>To help teams towards their <b>open data</b> responsibilities.</li>
                <li>
                    To help us in our <b>daily work</b> to
                    <ul>
                        <li>know <b>what</b> data we've got</li>
                        <li><b>find</b> the data we need</li>
                        <li><b>share</b> knowledge &ndash; between current and future staff</li>
                        <li>better <b>organise</b> our data resources</li>
                        <li>serve <b>external</b> requests</li>
                        <li>avoid <b>asking</b> other organisations for the same data more than once</li>
                        <li>solve practical problems around dataset <b>licensing</b> and terms of use.</li>
                    </ul>
                </li>
                <li>
                    To standardise our metadata
                    <ul>
                        <li>to make <b>contract</b> deliverables easier to specify</li>
                        <li>for sharing metadata with other <b>organisations</b></li>
                        <li>for <b>contributing</b> to other metadata catalogues and portals.</li>
                    </ul>
                </li>
                <li>To satisfy external <b>quality requirements</b>.</li>
            </ul>

            <p>
                There is a clear need in many teams we can meet with a shared solution.
                Please check out our roadmap (right) and get in touch
                at <a href="mailto:Data.Services@jncc.gov.uk">Data.Services@jncc.gov.uk</a> if you want
                to help influence the project.
            </p>
        </div>
        <div class="col-md-5 roadmap">

            <div class="well well-sm">
                <h2>Roadmap</h2>
                <ul>
                    <li>Google-style search <span class="label label-success">Done</span></li>
                    <li>Super-duper keyword filtering <span class="label label-success">Done</span></li>
                    <li>Authenticate without passwords <span class="label label-success">Done</span></li>
                    <li>Metadata editor <span class="label label-danger">In progress</span></li>
                    <li>Import MESH catalogue <span class="label label-success">Done</span></li>
                    <li>Import Human Activities catalogue <span class="label label-danger">In progress</span></li>
                    <li>Import Publications catalogue <span class="label label-danger">In progress</span></li>
                    <li>Validation (basic and Gemini) <span class="label label-success">Done</span></li>
                    <li>Export / download <span class="label label-success">Done</span></li>
                </ul>
                <h3>Wishlist</h3>
                <ul>
                    <li>Keyword browser</li>
                    <li>Spatial search</li>
                    <li>Bounding box editor UI</li>
                    <li>Advanced search</li>
                    <li>Vocabularies <span class="label label-danger">In progress</span></li>
                    <li>Known locations &amp; bounding boxes</li>
                </ul>
            </div>

            <h3>Search MESH <span class="label label-default">New</span></h3>
            <p>
                You can currently search all the datasets from
                the Mapping European Seabed Habitats (<a href="http://jncc.defra.gov.uk/page-1583">MESH</a>)
                project. Many thanks to Helen Ellwood for helping us import this really useful seed data.
            </p>
        </div>
    </div>
</div>

