

<br />
<br />

<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <form>
        <div class="form-group">
            <div class="input-group">
                
                <script type="text/ng-template" id="keywordTemplate.html">
                    <a>
                        <span bind-html-unsafe="match.model.vocab"></span>
                        <br/>
                        <span bind-html-unsafe="match.model.value | typeaheadHighlight:query"></span>
                    </a>
                </script>
                        
                <span ng-show="query.t == searchType.fulltext"><input ng-model="query.q" type="text" class="form-control" autofocus tc-debounce /></span>
                <span ng-show="query.t == searchType.keyword">
                    <input type="text" 
                           ng-model="keyword" 
                           typeahead-on-select="onKeywordSelect($item, $model, $label)"
                           placeholder="Keyword" 
                           typeahead-template-url="keywordTemplate.html"  
                           typeahead-loading="loadingKeys" 
                           typeahead="keyword.value for keyword in getKeywords($viewValue)" 
                           tc-debounce
                           class="form-control" 
                        />
                </span>

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" style="width: 60px">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <div class="row text-center ">
                <label>
                    <input type="radio" value="{{searchType.fulltext}}"  ng-model="query.t" ng-change="decideWhichSearch()"> Text
                    <input type="radio" value="{{searchType.keyword}}" ng-model="query.t" ng-change="decideWhichSearch()"> Keywords
                </label>
            </div>
</div>
        </form>
    </div>
    <div class="col-md-1">
            <div class="form-group">
                
                <a href="#editor/00000000-0000-0000-0000-000000000000" class="btn btn-default" tc-tip title="Add a record" style="width: 60px">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                
            </div>
    
    </div>
</div>

<br />
<br />


<div ng-show="query.q">
    {{query.p * 25 || 0}} to {{result.results.length + (query.p * 25) || 0}}, of {{result.total || 0}} results
    <span ng-show="result.speed">{{(result.speed / 1000) | number:2}} seconds.</span>
    <hr />
</div>

<div ng-repeat="r in result.results" class="layout-row search-result">
    <div class="layout-col search-format">
        <span class="dark glyphicon {{r.format.glyph}}" title="{{r.format.group}} "></span>
        <!--<span class="label label-default">{{($index + (25*(query.p)))+1}}</span>-->
    </div>
    <div class="layout-col">
        <div class="search-title">
            <a ng-href="#/editor/{{r.id}}" ng-bind-html="r.title"></a>
            <span class="search-date" ng-show="r.date">{{r.date.substring(0, 4)}}</span><!-- json handles dates as strings, so  can't use getUTCFullYear()-->
            <span tc-top-copy-icon ng-show="r.topCopy" title="Top copy"></span>
        </div>
        <div ng-bind-html="r.snippet"></div>
        <div class="search-tags">
            <span class="tag" ng-repeat="k in r.keywords"  style="cursor: pointer;" tc-tip title="Click to search by this tag" ng-click="tagSearch(k)">
                <span tc-tag ng-style="{ 'background-color': hashStringToColor(k.vocab) }">&nbsp;<!--<span class="glyphicon glyphicon-info-sign"></span>--></span>
                {{ k.value }}
            </span>
            
        </div>
        
    </div>
</div>

<div class="text-center" ng-show="result.total > result.results.length">

    <ul class="pagination">
     <!--   <li class="disabled"><a href="">&laquo;</a></li>-->
    <li style="cursor: pointer;" ng-repeat="n in range(0,maxPages(result.total, 25))" ng-class="(n===query.p+1) ? 'active' : ''">
            <span ng-click="query.p = n-1"><span ng-bind="n">n</span></span>
        </li>
        <!--<li><span href="#">&raquo;</span></li>-->
    </ul>
</div>

<div ng-show="!query.q && !app.starting" class="fade-in-with-delay">
    <div class="row">
        <div class="col-md-7 welcome">
            <h2><b>Discover and organise</b> the data assets we hold as an organisation with <b>Topcat</b>.</h2>
            <br />
            <h3>Why are we building Topcat?</h3>
            <ul>
                <li>To give us a better foundation for our <b>evidence base</b>.</li>
                <li>To help us in our <b>daily work</b> to
                    <ul>
                        <li>know <b>which</b> resources we've got</li>
                        <li><b>find</b> the resources we need</li>
                        <li><b>share</b> knowledge &ndash; between current and future staff</li>
                        <li>better <b>organise</b> our data resources</li>
                        <li>serve <b>external</b> requests</li>
                        <li>avoid <b>asking</b> other organisations for the same data more than once</li> 
                        <li>solve practical problems around dataset <b>licensing</b> and terms of use.</li>
                    </ul>
                </li>
                <li>To standardise our metadata
                    <ul>
                        <li>to make <b>contract</b> deliverables easier to specify</li>
                        <li>for sharing metadata with other <b>organisations</b></li>
                        <li>for <b>contributing</b> to other metadata catalogues and portals.</li>
                    </ul>
                </li>
                <li>To satisfy external <b>quality requirements</b>.</li>
                <li>To help teams towards their <b>open data</b> responsibilities.</li>
            </ul>
            
            <p>There is a clear, common need in many teams that we can meet with a shared solution.
                Please check out our roadmap (right) and get in touch
                at <a href="mailto:Data.Services@jncc.gov.uk">Data.Services@jncc.gov.uk</a> if you want
                to help influence the project.</p>
        </div>
        <div class="col-md-5 roadmap">

            <div class="well well-sm">
                <h2>Roadmap</h2>
                <ul>
                    <li>Google-style search <span class="label label-success">Done</span></li>
                    <li>Authenticate without passwords <span class="label label-success">Done</span></li>
                    <li>Import MESH metadata <span class="label label-success">Done</span></li>
                    <li>Import Pressures metadata <span class="label label-success">Done</span></li>
                    <li>Metadata editor <span class="label label-danger">In progress</span></li>
                    <li>Keyword selection <span class="label label-danger">In progress</span></li>
                    <li>Validation <span class="label label-danger">In progress</span></li>
                    <li>Export <span class="label label-danger">In progress</span></li>
                </ul>
                <h3>Wishlist</h3>
                <ul>
                    <li>Spatial search</li>
                    <li>Bounding box editor UI</li>
                    <li>Advanced search</li>
                    <li>Vocabularies<span class="label label-danger">In progress</span></li>
                    <li>Known locations &amp; bounding boxes</li>
                </ul>
            </div>
                
            <h3>Full text search <span class="label label-default">New</span></h3>
            <p>You can currently search all the datasets from
                the Mapping European Seabed Habitats (<a href="http://jncc.defra.gov.uk/page-1583">MESH</a>)
                project. Many thanks to Helen Ellwood for helping us import this really useful seed data.</p>
        </div>
    </div>
</div>
