


<div class="assessment modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <nav>
                <ol class="cd-multi-steps text-center">
                    <li ng-class="publishingStatus.riskAssessment.currentClass">
                        <a ng-click="refreshPublishingStatus('risk assessment')">1. Risk assessment <span ng-if="publishingStatus.riskAssessment.completed" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                    <li ng-class="publishingStatus.signOff.currentClass">
                        <a ng-click="refreshPublishingStatus('sign off')">2. Final approval <span ng-if="publishingStatus.signOff.completed" class="glyphicon glyphicon-ok"></span></a>
                    </li>
                    <li ng-class="publishingStatus.upload.currentClass">
                        <a ng-click="refreshPublishingStatus('upload')">3. Upload</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="editor-assessment" ng-show="publishingStatus.currentActiveView == 'risk assessment'">
                    <h3>Risk assessment</h3>
                    <p>To proceed you must agree to the below assessment criteria for publishing:</p>
                    <ol>
                        <li>This dataset does not contain personal data.</li>
                        <li>
                            There are no third party licencing or IP restrictions or permissions to be resolved.
                            <ol type="a">
                                <li>No Ordnance Survey data was used in the production of this output.</li>
                                <li>No UK Hydrographic Office data was used in the production of this output.</li>
                            </ol>
                        </li>
                        <li>This dataset does not contain confidential information.</li>
                        <li>This dataset does not contain information where there are national security concerns.</li>
                        <li>This dataset does not contain sensitive or environmental policy information.</li>
                        <li>This dataset does not contain free text fields or comments fields.</li>
                    </ol>
                    <p>
                        For more information and guidance about the publishing process, please open <a href="file:///Z:\Prog110-FutureData\0264%20Information%20Management\Open%20Data\DEFRA%20Data%20Accelerator\Guidance\Risk%20assessment%20for%20publishing%20open%20data_process_draftv2.docx">this file</a> by copying and pasting the link into Windows Explorer.
                    </p>
                </div>
                 <div class="editor-sign-off" ng-show="publishingStatus.currentActiveView == 'sign off'">
                     <h3>Final approval</h3>
                     <p>Pending sign off by an Information Asset Owner.</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="editor-assessment" ng-show="publishingStatus.currentActiveView == 'risk assessment'">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary"
                                ng-click="assessClick()"
                                ng-disabled="form.publication.openData.assessment.completed">
                            {{assessmentButtonText}}
                        </button>
                    </span>
                </div>
                <div class="editor-sign-off" ng-show="publishingStatus.currentActiveView == 'sign off'">
                    <span class="pull-right">
                        <button type="button" class="btn btn-primary"
                                ng-disabled="publishingStatus.signOffButtonDisabled"
                                ng-click="">
                            {{signOffButtonText}}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">

    </div>
</div>
