


<div class="assessment modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Assessment</h4>
    </div>
    <div class="modal-body">
        <div class="assessment-criteria">
            <p>To proceed you must agree to the below assessment criteria for publishing:</p>
            <ol>
                <li>This dataset does not contain personal data.</li>
                <li>There are no third party licencing or IP restrictions or permissions to be resolved.
                    <ol type="a">
                        <li>No Ordnance Survey data was used in the production of this output.</li>
                        <li>No UK Hydrographic Office data was used in the production of this output.</li>
                    </ol>
                </li>
                <li>This dataset does not contain confidential information.</li>
                <li>This dataset does not contain information where there are national security concerns.</li>
                <li>This dataset does not contain sensitive or environmental policy information.</li>
                <li>This dataset does not contain free text fields or comments fields.</li>
            </ol>
            <p>
                For more information and guidance about the publishing process, please open <a href="file:///Z:\Prog110-FutureData\0264%20Information%20Management\Open%20Data\DEFRA%20Data%20Accelerator\Guidance\Risk%20assessment%20for%20publishing%20open%20data_process_draftv2.docx">this file</a> by copying and pasting the link into Windows Explorer.
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <span class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">CANCEL</button>
        </span>
        <button type="button" class="btn btn-primary"
                ng-click="close()"
                ng-disabled="form.publication.openData.assessment.completed">
            {{publishingButtonText}}
        </button>
    </div>
</div>
