


<div class="image-picker">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <input type="text" class="form-control"
                       ng-model="recordImage.url"
                       placeholder="Enter image URL, or select an image from the gallery"
                       tc-focus
                       title="Paste the URL to the image here" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" title="Save image" tc-tip ng-click="ok()">
                    OK
                </button>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-repeat="row in page">
                            <div ng-repeat="image in row">
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <a href="" ng-click="saveImage(image)"><img src="{{image.Crops.Square}}"></a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        Editor name
                                    </div>
                                    <div class="row">
                                        {{image.EditorName}}
                                    </div>
                                    <br />
                                    <div class="row">
                                        Last modified
                                    </div>
                                    <div class="row">{{image.LastEdited}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <ul class="pagination">
                        <li style="cursor: pointer;">
                            <span ng-click="setPage(currentPage-1)">&laquo;</span>
                        </li>
                        <li style="cursor: pointer;" ng-repeat="x in [].constructor(noOfPages) track by $index" ng-class="($index===currentPage) ? 'active' : ''"><a ng-click="setPage($index)">{{$index+1}}</a></li>
                        <li style="cursor: pointer;">
                            <span ng-click="setPage(currentPage+1)">&raquo;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">CANCEL</button>
        </span>
    </div>
</div>

