


<div class="assessment modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
        <br />
    </div>
    <div class="modal-body">
        <div class="row">
            <nav>
                <ol class="cd-multi-steps text-center">
                    <li ng-class="publishingStatus.riskAssessment.currentClass">
                        <a ng-click="publishingStatus.currentActiveView = 'risk assessment'">
                            1. Risk assessment <span ng-if="recordOutput.recordState.openDataPublishingState.assessedAndUpToDate" class="glyphicon glyphicon-ok"></span>
                        </a>
                    </li>
                    <li ng-class="publishingStatus.signOff.currentClass">
                        <a ng-click="publishingStatus.currentActiveView = 'sign off'">
                            2. Final approval <span ng-if="recordOutput.recordState.openDataPublishingState.signedOffAndUpToDate" class="glyphicon glyphicon-ok"></span>
                        </a>
                    </li>
                    <li ng-class="publishingStatus.upload.currentClass">
                        <a ng-click="publishingStatus.currentActiveView = 'upload'">
                            3. Data upload <span ng-if="recordOutput.recordState.openDataPublishingState.uploadedAndUpToDate" class="glyphicon glyphicon-ok"></span>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="publishing-status">
                    <div ng-show="publishingStatus.currentActiveView == 'risk assessment'" class="quick-fade-in">
                        <h3>Risk assessment</h3>
                        <p>In order to be published as Open Data, the data must first be risk assessed. If an update is made to the data or metadata which requires republishing, the assessment must be completed again.</p>
                        <p>
                            For more information on Open Data publishing, please read <a href="file:///Z:\Prog110-FutureData\0264 Information Management\Open Data\Guidance\Open Data Publication - Advice for Data Managers.pdf">Open Data Publication - Advice for Data Managers</a>.
                            For more guidance on risk assessments, please read <a href="file:///Z:\Prog110-FutureData\0264 Information Management\Tools\Topcat\Guidance\Risk Assessment for Open Data Publication.pdf">Risk Assessment for Open Data Publication</a>.
                            Note: you will need to copy and paste the links into Windows Explorer.
                        </p>
                        <p>To proceed, you must agree to the below assessment criteria for Open Data publishing:</p>
                        <ol>
                            <li>This dataset does not contain personal data.</li>
                            <li>
                                There are no third party licencing or IP restrictions or permissions to be resolved.
                                <ol type="a">
                                    <li>No Ordnance Survey data was used in the production of this output.</li>
                                    <li>No UK Hydrographic Office data was used in the production of this output.</li>
                                </ol>
                            </li>
                            <li>This dataset does not contain confidential information.</li>
                            <li>This dataset does not contain information where there are national security concerns.</li>
                            <li>This dataset does not contain sensitive or environmental policy information.</li>
                            <li>This dataset does not contain free text fields or comments fields.</li>
                        </ol>
                        <br/>
                        <span class="publishing-extra-info"
                              ng-if="form.publication.openData.assessment.completed">
                            <p>
                                {{assessmentCompletedInfo}}
                            </p>
                        </span>
                        <span class="pull-right" ng-if="!recordOutput.recordState.openDataPublishingState.assessedAndUpToDate">
                            <button type="button" class="btn btn-primary"
                                    ng-click="assessButtonClick()">
                                I AGREE
                            </button>
                        </span>
                    </div>
                    <div ng-show="publishingStatus.currentActiveView == 'sign off'" class="quick-fade-in">
                        <h3>Final approval</h3>
                        <p>Publication of the data must be approved by an Information Asset Owner. Please review the record with your Information Asset Owner and ask them to sign off by clicking the button below.</p>
                        <p>Alternatively, sign off can be provided on the <a ng-click="$dismiss()" href="#opendatapublishing/signoff">Final Approval</a> page.</p>
                        <br />
                        <span class="publishing-extra-info"
                              ng-if="form.publication.openData.signOff != null">
                            <p>
                                {{signOffCompletedInfo}}
                            </p>
                        </span>
                        <span class="pull-right" ng-if="publishingStatus.signOff.showButton">
                            <button class="btn btn-danger sign-off"
                                    tc-tip title="Publishing sign off for Information Asset Owners"
                                    ng-click="signOffButtonClick(r.id)">
                                <span ng-if="publishingStatus.signOff.signOffButtonText.indexOf('Cancel') == 0" class="glyphicon glyphicon-remove sign-off"></span>
                                &nbsp;{{ publishingStatus.signOff.signOffButtonText }}
                            </button>
                        </span>
                    </div>
                    <div ng-show="publishingStatus.currentActiveView == 'upload'" class="quick-fade-in">
                        <h3>Data upload</h3>
                        <p>The record is now waiting to be automatically uploaded to data.gov.uk. The upload process may take a day so please check back later.</p>
                        <br />
                        <span class="publishing-extra-info">
                            <p>
                                <span ng-if="form.publication.openData.lastAttempt != null">
                                    Upload last attempted on {{uploadLastAttempted}}<br/>
                                </span>
                                <span ng-if="form.publication.openData.lastAttempt.message != null">
                                    Attempt message: {{form.publication.openData.lastAttempt.message}}
                                </span>
                                <span ng-if="form.publication.openData.lastSuccess != null">
                                    Upload last succeeded on {{uploadLastSucceeded}}
                                </span>
                                <span ng-if="form.publication.openData.lastSuccess.message != null">
                                    Success message: {{uploadLastSucceeded}}
                                </span>
                            </p>
                            <p>
                                Current status: {{uploadStatus}}
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
