


<div class="vocabulator modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="vocabulator-search row">
            <div class=" col-sm-7 col-sm-offset-2 ">
                <div class="input-group">
                    <span>
                        <input ng-model="find.text" type="text" class="form-control" tc-focus placeholder="Search vocabularies and keywords" />
                    </span>

                    <span class="input-group-btn">
                        <button class="btn btn-primary big-button" type="button" ng-click="doFind">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Vocabularies</h3>
                <div class="vocabulator-vocab-list list-group">

                    <a ng-repeat="v in vocabs.filtered" ng-href="" class="list-group-item" ng-class="{active: selected.vocab.id === v.id}"
                       ng-click="selected.vocab = v">
                        <div>
                            <span ng-bind-html="v.name | highlight:find.text"></span>
                            <br/>
                            <span class="small">{{v.id}}</span>
                        </div>
                    </a>

                </div>

            </div>
            <div class="col-sm-6">
                <h3>Keywords</h3>
                <div>
                    <div class="vocabulator-keyword-list list-group">

                        <a ng-repeat="k in found.keywords" ng-href="" class="list-group-item" ng-class="{active: selected.keyword === k}"
                           ng-click="selected.keyword = k">
                            <div>
                                <span ng-bind-html="k.value | highlight:find.text"></span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="close()">Select</button>
    </div>
</div>
