

<br />

<div class="why-topcat" style="">
    <h1>What is <span class="small" style="text-decoration: line-through;"> are</span> data?</h1>
    <br />
    <ul style="font-size: 20px">
        <li>Spreadsheets</li>
        <li>Databases</li>
        <li>Spatial layers</li>
        <li>Lists</li>
        <li>Surveys</li>
        <li>Media (audio, video)</li>
        <li>Maybe even publications...?</li>
    </ul>

    <br />
    <br />
    <h2>Something that...</h2>
    <ul style="font-size: 20px">
        <li>underpins JNCC <b>evidence</b> or <b>products</b></li>
        <li>could be <b>useful to someone else</b> inside or outide your team</li>
    </ul>



</div>
