<div>
    <h3>Import some data</h3>
    <div>
        Import type<br/>
        <select ng-model="import.id" class="form-control">
            <option ng-repeat="i in imports" value="{{i.id}}">{{i.name}}</option>
        </select>
    </div>
    <br />
    <div>
        Full file path to the import file
        <input type="text" ng-model="import.fileName" class="form-control"/>
    </div>
    <br />
    <div>
        <button ng-click="import.skipBadRecords = !import.skipBadRecords" ng-class="{ 'btn-danger': !import.skipBadRecords, 'btn-success': import.skipBadRecords }" class="btn"
                title="Skip bad records when importing?" tc-tip>
            <span class="glyphicon glyphicon-repeat"></span>
            {{import.skipBadRecords ? 'Skip bad records':'Fail on bad records';}}
        </button>
    </div>
    <br />
    <div>
        <button ng-click="runImport()" class="btn">Import Data</button>
    </div>
</div>