html {
  overflow-y: scroll;
}
h1 {
  opacity: .5;
}
.search-result a {
  font-size: 110%;
}
.search-result p b {
  color: #555;
}
.placeholder {
  color: #bbb;
}
.btn[disabled] {
  opacity: .85;
}
textarea {
  max-height: 8em;
}
.grey {
  color: #999;
}
.white {
  color: white;
}
.well-input-group-addon {
  background-color: white;
}
.datexx {
  width: 10em;
}
.tc-tag {
  white-space: nowrap;
  display: inline-block;
  background-color: #eee;
  padding-right: 0.4em;
  margin-right: 0.8em;
}
.tc-tag > span {
  display: inline-block;
  width: 0.8em;
  border-right: 0.25em solid white;
}
form .ng-dirty.ng-invalid {
  border: 1px solid #FF1493;
  background-color: #f9f2f4;
}
.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
.animate-enter.animate-enter-active {
  opacity: 1;
}
