
// -------------
// general fixes
// -------------

// always have a scroll bar to avoid layout jumps
html { overflow-y: scroll; }

// extra spacing when abtn has a gylphicon and text
.icon-and-text-btn > span { margin-right: 0.5em; }

// make these look better when in a bootstrap well
.well-input-group-addon { background-color: white; }

// minimise the FOUC due to bootstrap-select resizing the select element 
//.selectContainer { min-height: 34px; }

// -------
// colours
// -------

@darker: #444;
@dark:   #666;
@grey:   #bbb;
@lesspale: #ddd;
@pale:   #eee;
@white:  #fff;

@errorForeground: #FF1493;
@errorBackground: #f9f2f4;

// ---------
// utilities
// ---------

.cell-mixin {
    display: table-cell;
    vertical-align: middle;
}

// custom table-based layout possibly because i don't quite get boostrap
.layout-row {
    display: table;
    width: 100%;
    .layout-col {
        .cell-mixin;
    }
}

.pointable { cursor: pointer; }

.hoverable-glyphicon {
    color: @dark;
    &:hover { color: @darker; }
}

h1, h2, h3 { color: #888; }

hr {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

// ie8 placeholder is a bit dark by default (jquery-placeholder plugin)
.placeholder { color: @grey; }

.dark { color: @dark; }

// colours overriding bootstrap's classes (ouch)
@green: rgb(53,217,38);
@pink: rgb(217, 38, 135);

.label-success { background-color: @green; }
.label-danger { background-color: @pink; }

// cheesily override bootstrap btn properties
.btn-default {
    background-color: @pale;
    border-color: @pale;
    &:hover {
        background-color: @lesspale;
        border-color: @lesspale;
    }
}
.btn-dialogue {
    background-color: @dark;
    border-color: @dark;
    color: white;
    padding: 0 0.7em;
    &:hover {
        background-color: @darker;
        border-color: @darker;
        color: white;
    }
    &:focus { color: white; }
}
.btn-danger { background-color: @pink; }
.btn-danger[disabled] { background-color: @pink; }
// end cheese

.hackyhack {
  position: relative;
}
.hackyhack .dropdown-menu {
   left: auto !important;
   right: 0px;
 }

// labels are too bold
label {
    font-weight: normal;
}

.big-button {
    width: 60px;
}

// ---------
// head/foot
// ---------

.header {
    display: table;
    width: 100%;
    margin-top: 1.4em;
    padding-bottom: 0.4em;

    .logo {
        .cell-mixin;
        width: 100%;
        h1 { margin: 0; opacity: .5; }
    }

    .user-info {
        .cell-mixin;
        text-align: right;
        color: @grey;
        div:first-child {
            font-size: 123%;
            color: @dark;
        }
    }
}

// ---------
// home page
// ---------

.welcome {
    // extra spacing on the lists methinks
    > ul > li { margin-bottom: 0.5em; }
    > ul > li > ul > li:first-child { margin-top: 0.5em; }
}

.roadmap {
    border-left: 1px solid @pale;
    padding-top: 0.5em; // keep it definitely below the main welcome heading 
    padding-left: 3em;
}

// ------
// search
// ------

.search-box {
    margin-bottom: 3em;
}
    
.search-advanced {
    margin-top: 1em;
}

.search-keyword-suggestions {
    margin-bottom: 1.5em;
}

.search-results-view-picker {
    button span {
        font-size:smaller;
    }
}

.search-results-header {

    .search-results-header-tagged {
        // make the spacing look better
        >span:first-child { margin-left:0.2em; }
        >span:last-child { margin-right:0.2em; }
    }
}

.search-open-vocabulator { margin: -3px 0.5em 0 0.5em; }

.search-result {
    a {
        text-decoration: underline;
    }
    // bold snippet highlights look too black
    p b {
        color: #555;
    }
    margin: 1.2em 0;

    .search-format {
        width: 1px; // as small as necessary
        vertical-align: top;
        padding-right: 0.4em;
        font-size: x-large;
        .glyphicon {
            .hoverable-glyphicon;
        }
    }

    .search-title {
        a { font-size: larger; }

        .glyphicon {
            margin-left: 0.3em;
            .hoverable-glyphicon;
        }

        .search-date {
            font-size: larger;
            color: @dark;
        }
    }

    .search-divider-bullet {
        font-weight: bold;
        color: @lesspale;
        margin: 0 0.15em 0 0.25em;
    }

    .search-resource-type {
        font-weight: bold;
        color: #888;
    }

    .search-tags {
        margin-top: 6px;
    }
}

// grid
.search-grid {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 500px;
    margin-top: 2em;

    .non-overflowing-cell { 
        white-space:nowrap;
        overflow: hidden;
    }

    .cell-padding {
        padding-left: 3px;
    }
}



// ----
// tags
// ----

.tag {
    white-space:nowrap;
    display: inline-block;
    background-color: @pale;
    padding-right: 0.5em;
    margin: 0 0.8em 0.45em 0;
    &:hover {
        background-color: @lesspale;
    }
    > .vocabful-colour-edge {
        display: inline-block;
        width: 7px;
        margin-right: 2px;
    }
    > .vocabless-colour-edge {
        display: inline-block;
        width: 0;
        margin-right: 0.15em;
    }
    .glyphicon-remove {
        font-size: 75%;
        color: @dark;
        .pointable;
    }
}

// ----
// tips
// ----

.tip {
    max-width: 100%;
    // the following stlyes copied from qtip-tipsy built-in style which
    // doesn't currently seem to work properly when used as intended
    color: #fff;
    font-size: 11px;
    font-family: 'Lucida Grande',sans-serif;
    font-weight: 700;
    line-height: 16px;
    text-shadow: 0 1px #000;
}


// -----------
// vocabulator
// -----------

.vocabulator {
    padding: 1em;
    h3 { margin: 0.3em 0 0.8em 0; }
    .close { margin-top: -0.8em; } // vertically position the close 'x' button
    .less-important {
        color: #999;
    }
    .vocabulator-search {
        margin: 1em 0;
    }
    .vocabulator-vocab-list {
        height: 20em;
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        z-index: 100; // make sure it stays in front of animated keyword list
        .vocab-item:hover { background-color: @pale; }
        .vocab-item {
            >div {
                :first-child { font-size: 16.7999992370605px; }
                margin-bottom: -5px;
            } 
            .pointable;
            border-left: 7px solid;
            margin-bottom: 6px;
            padding: 2px 0 2px 6px;
            &.active {
                background-color: @pale;
            }
            .vocab-item-id {
                font-size: 11px;
                font-family: 'Lucida Grande', sans-serif;
                font-weight: 700;
                color:@grey;
            }
        }
    }
    .vocabulator-keyword-list-container {
        position:relative; // so we can make child elements absolute relative to this one (look at how css positioning works!)
        .vocabulator-found-keyword-list { 
            height: 20em;
            overflow-y: scroll;
        }
        .vocabulator-vocab-keyword-list {
            height: 20em;
            overflow-y: scroll;
            position: absolute;
            top:0;
            left:0;
            right:0;
            background-color: white; // to cover up what's beneath
            &.ng-enter {
                transition: 0.2s all;
                left: -15px;
                opacity:0;
                &.ng-enter-active { left: 0; opacity: 1; }
            }
            &.ng-leave {
                transition: 0.4s;
                left: 0;
                opacity: 1;
                &.ng-leave-active { left: -15px; opacity: 0; }
            }
        }
    }
    .add-the-tag { margin-right: 2px; }
}

.markdown {
    textarea { width: 100% }
}


// ------
// editor
// ------

.date-container { width: 11em; } // consistent widths for date fields

.editor-readonly {
    padding-top: 7px; // hack to counteract .well-sm padding
    .well {
        padding-top: 7px;
        padding-bottom: 7px;
        min-width: 3em;
    }
    .glyphicon {
        margin: 0 2px 0 2px;
        .hoverable-glyphicon;
    }
}

.editor-title {
    font-size:larger;
}

.editor-format {
    div {
        height: 54px; // set equal to what the editor-path height happens to be
        width: 3em;
        font-size: x-large;
        margin-right: 0.6em;
        text-align: center;
        span {
            padding-top: 11px;
            .hoverable-glyphicon;
            .pointable;
        }
    }
}

.editor-path {
    //input { border-right: white; } // looks better next to the copy-to-clipboard icon
    .zeroclipboard-is-hover {
        background-color: @lesspale;
    }
}

.editor-keywords {
    margin-top: 0.5em;
    button {
        font-size: x-small;
        margin-top: -2px; // tweak to vertical align better
    }
}

.editor-keywords-editor {
    margin-bottom: 1em;
    > div {
        margin-bottom: 0.3em;
    }
    > .btn-primary { // the new keyword button
        margin-top:0.5em;
    }
}

.editor-abstract {
    padding-top: 0.3em; // feels like it needs a bit of space
    padding-bottom: 0.5em;
    textarea {
        resize: none; // resize ability looks bad with scrollbar
        max-height: 8em;
        padding-right:2em;
    }
}

.editor-tabs {
    .tab-content {
        margin-top: 1.5em;
    }

    .little-warning-badge {
        color: rgb(38, 110, 217);
    }
}

.editor-internal {
    padding-top: 1.1em;
    .btn .glyphicon { margin-right:0.6em; }
    .btn-default .glyphicon { color: @dark; }
    hr { margin-top: 10px; margin-bottom: 10px; }
}

.editor-notes {
    margin-top: 2em;
}

// validation

.editor-validation-summary {
    margin-bottom: 20px;
    text-align: center;
}

.editor-validation-summary-item {
    display: inline-block;
    background-color: rgb(217, 38, 135);
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

// angular also puts these classes on the form so ignore that
//.ng-dirty.ng-valid { border:1px solid Green; }
form .ng-invalid {
    border:1px solid @errorForeground;
    background-color: @errorBackground;
}

// -------------
// notifications
// -------------

.notification-summary { // appears fixed at the top of the page
    position: fixed;
    top: 2.5em;
    text-align: center;
    width: 100%;
    z-index: 1000; // show in front of other elements
}

.notification-summary > span { // the white surrounding a notification 
    margin: 0 0 4px 4px;
    border: 8px solid white;
}

.notification-summary > span > span { // the pink notification itself
    background-color: rgb(217, 38, 135);
    color: white;
    padding: 5px;
    border-radius: 4px;
}


// ---------
// animation
// ---------

.fade-in-with-delay {
    // animating ngShow is a little tricky - ngIf is easier!
    // this class is added at the start of the animation
    // (when angular removes the .ng-hide class)
    &.ng-hide-remove {
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition-delay: 1s;
        opacity: 0;
        // this needs to be here to make it visible during the animation since
        // the .ng-hide class is already on the element - http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html
        display: block!important;
        // this class is added the end of the animation
        &.ng-hide-remove-active { opacity: 1; }
    }
}




// Create boxes for clicking on for use in the data formats
// selector control
.data-format-list-item {
    float: left;  
    padding: 10px;  
    line-height: 1.4;  
    text-align: center;  
    border: 1px solid #fff;  
    background-color: #f9f9f9;
    color: #666666;
    width: 10%;
    height: 115px;
}
.data-format-list-item:hover {
    background-color: white;
}
.data-format-list-item:active {
    color: white;
    background-color: #666;
}
.data-format-list-item-glyph {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.data-format-list-item-text {
    display: block;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 10pt;
}

// Change the default bootstrap tab look and feel to 
// be more in matching with the rest of the site
.nav>li>a:hover {
    color: #666666;
}
.nav>li>a {
    color: #666666;
}

