html {
  overflow-y: scroll;
}
.icon-and-text-btn > span {
  margin-right: 0.5em;
}
.well-input-group-addon {
  background-color: white;
}
.cell-mixin {
  display: table-cell;
  vertical-align: middle;
}
.layout-row {
  display: table;
  width: 100%;
}
.layout-row .layout-col {
  display: table-cell;
  vertical-align: middle;
}
.pointable {
  cursor: pointer;
}
.hoverable-glyphicon {
  color: #666666;
}
.hoverable-glyphicon:hover {
  color: #444444;
}
h1,
h2,
h3 {
  color: #888;
}
hr {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}
.placeholder {
  color: #bbbbbb;
}
.dark {
  color: #666666;
}
.label-success {
  background-color: #35d926;
}
.label-danger {
  background-color: #d92687;
}
.btn-default {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
.btn-default:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}
.btn-dialogue {
  background-color: #666666;
  border-color: #666666;
  color: white;
  padding: 0 0.7em;
}
.btn-dialogue:hover {
  background-color: #444444;
  border-color: #444444;
  color: white;
}
.btn-dialogue:focus {
  color: white;
}
.btn-danger {
  background-color: #d92687;
}
.btn-danger[disabled] {
  background-color: #d92687;
}
.hackyhack {
  position: relative;
}
.hackyhack .dropdown-menu {
  left: auto !important;
  right: 0px;
}
label {
  font-weight: normal;
}
.big-button {
  width: 60px;
}
.header {
  display: table;
  width: 100%;
  margin-top: 1.4em;
  padding-bottom: 0.4em;
}
.header .logo {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.header .logo h1 {
  margin: 0;
  opacity: .5;
}
.header .user-info {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: #bbbbbb;
}
.header .user-info div:first-child {
  font-size: 123%;
  color: #666666;
}
.welcome > ul > li {
  margin-bottom: 0.5em;
}
.welcome > ul > li > ul > li:first-child {
  margin-top: 0.5em;
}
.roadmap {
  border-left: 1px solid #eeeeee;
  padding-top: 0.5em;
  padding-left: 3em;
}
.search-box {
  margin-bottom: 3em;
}
.search-advanced {
  margin-top: 1em;
}
.search-keyword-suggestions {
  margin-bottom: 1.5em;
}
.search-results-view-picker button span {
  font-size: smaller;
}
.search-results-header .glyphicon-remove {
  font-size: 75%;
  color: #666666;
  cursor: pointer;
}
.search-results-header .search-results-header-tagged > span:first-child {
  margin-left: 0.2em;
}
.search-results-header .search-results-header-tagged > span:last-child {
  margin-right: 0.2em;
}
.search-result {
  margin: 1.2em 0;
}
.search-result a {
  text-decoration: underline;
}
.search-result p b {
  color: #555;
}
.search-result .search-format {
  width: 1px;
  vertical-align: top;
  padding-right: 0.4em;
  font-size: x-large;
}
.search-result .search-format .glyphicon {
  color: #666666;
}
.search-result .search-format .glyphicon:hover {
  color: #444444;
}
.search-result .search-title a {
  font-size: larger;
}
.search-result .search-title .glyphicon {
  margin-left: 0.3em;
  color: #666666;
}
.search-result .search-title .glyphicon:hover {
  color: #444444;
}
.search-result .search-title .search-date {
  font-size: larger;
  color: #666666;
}
.search-result .search-divider-bullet {
  font-weight: bold;
  color: #dddddd;
  margin: 0 0.15em 0 0.25em;
}
.search-result .search-resource-type {
  font-weight: bold;
  color: #888;
}
.search-result .search-tags {
  margin-top: 6px;
}
.tag {
  white-space: nowrap;
  display: inline-block;
  background-color: #eeeeee;
  padding-right: 0.5em;
  margin: 0 0.8em 0.45em 0;
}
.tag:hover {
  background-color: #dddddd;
}
.tag > .vocabful-colour-edge {
  display: inline-block;
  width: 7px;
  margin-right: 2px;
}
.tag > .vocabless-colour-edge {
  display: inline-block;
  width: 0;
  margin-right: 0.15em;
}
.tip {
  max-width: 100%;
  color: #fff;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 700;
  line-height: 16px;
  text-shadow: 0 1px #000;
}
.vocabulator {
  padding: 1em;
}
.vocabulator .vocabulator-search {
  margin: 1em 0;
}
.vocabulator select {
  width: 100%;
}
.vocabulator .vocabulator-vocab-list {
  height: 20em;
  overflow-y: scroll;
}
.vocabulator .vocabulator-keyword-list {
  height: 20em;
  overflow-y: scroll;
}
.date-container {
  width: 11em;
}
.editor-readonly {
  padding-top: 7px;
}
.editor-readonly .well {
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 3em;
}
.editor-readonly .glyphicon {
  margin: 0 2px 0 2px;
  color: #666666;
}
.editor-readonly .glyphicon:hover {
  color: #444444;
}
.editor-title {
  font-size: larger;
}
.editor-format div {
  height: 54px;
  width: 3em;
  font-size: x-large;
  margin-right: 0.6em;
  text-align: center;
}
.editor-format div span {
  padding-top: 11px;
  color: #666666;
  cursor: pointer;
}
.editor-format div span:hover {
  color: #444444;
}
.editor-path .zeroclipboard-is-hover {
  background-color: #dddddd;
}
.editor-keywords {
  margin-top: 0.5em;
}
.editor-keywords button {
  font-size: x-small;
  margin-top: -2px;
}
.editor-keywords-editor {
  margin-bottom: 1em;
}
.editor-keywords-editor > div {
  margin-bottom: 0.3em;
}
.editor-keywords-editor > .btn-primary {
  margin-top: 0.5em;
}
.editor-abstract {
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}
.editor-abstract textarea {
  resize: none;
  max-height: 8em;
  padding-right: 2em;
}
.editor-tabs .tab-content {
  margin-top: 1.5em;
}
.editor-tabs .little-warning-badge {
  color: #266ed9;
}
.editor-internal {
  padding-top: 1.1em;
}
.editor-internal .btn .glyphicon {
  margin-right: 0.6em;
}
.editor-internal .btn-default .glyphicon {
  color: #666666;
}
.editor-internal hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.editor-notes {
  margin-top: 2em;
}
.editor-validation-summary {
  margin-bottom: 20px;
  text-align: center;
}
.editor-validation-summary-item {
  display: inline-block;
  background-color: #d92687;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}
form .ng-invalid {
  border: 1px solid #ff1493;
  background-color: #f9f2f4;
}
.notification-summary {
  position: fixed;
  top: 2.5em;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
.notification-summary > span {
  margin: 0 0 4px 4px;
  border: 8px solid white;
}
.notification-summary > span > span {
  background-color: #d92687;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.fade-in-with-delay.ng-hide-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition-delay: 1s;
  opacity: 0;
  display: block!important;
}
.fade-in-with-delay.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.data-format-list-item {
  float: left;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #fff;
  background-color: #f9f9f9;
  color: #666666;
  width: 10%;
  height: 115px;
}
.data-format-list-item:hover {
  background-color: white;
}
.data-format-list-item:active {
  color: white;
  background-color: #666;
}
.data-format-list-item-glyph {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.data-format-list-item-text {
  display: block;
  text-align: center;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 10pt;
}
.nav > li > a:hover {
  color: #666666;
}
.nav > li > a {
  color: #666666;
}
/*# sourceMappingURL=main.css.map */