
// always have a scroll bar to avoid layout jumps
html {
	overflow-y: scroll; 
}

h1 {
    opacity: .5;
}

.search-result {
    // subtly increase the title size
    //a { font-size: 110%; }

    // bold snippet highlights look too black
    p b { color: #555; }
}

// ie8 placeholder is a bit dark by default (jquery-placeholder plugin)
.placeholder { color: #bbb; }

// bootstrap's disabled buttons are too faint for my liking
.btn[disabled] {
    opacity: .85;
    }

//  textareas should not grow beyond reasonable (they are autosized with a plugin)
textarea {
    max-height: 8em;
}

.grey {
    color: #999;
}
.white {
    color: white;
}
// make these look better when in a bootstrap well
.well-input-group-addon {
    background-color: white;
}
// minimise the FOUC due to bootstrap-select resizing the select element 
//.selectContainer {
//    min-height: 34px;    
//}

.datexx {
    width: 10em;
}

.tc-tag {
    white-space:nowrap;
    font-size: 90%;
    display: inline-block;
    background-color:#eee;
    padding-right: 0.4em;
    margin-right: 0.8em;
    > span {
        display: inline-block;
        width: 0.8em;
        border-right:0.25em solid white;
    }
}




// validation styles. angular also puts these classes on the form so ignore that
//.ng-dirty.ng-valid { border:1px solid Green; }
form .ng-dirty.ng-invalid {
    border:1px solid #FF1493;
    background-color: #f9f2f4;
}

.animate-enter {
	-webkit-transition: 1s linear all; // Chrome
	transition: 1s linear all;
	opacity: 0;
}
.animate-enter.animate-enter-active {
	opacity: 1;
}

