html {
  overflow-y: scroll;
}
.well-input-group-addon {
  background-color: white;
}
.pointable {
  cursor: pointer;
}
h2,
h3 {
  color: #888;
}
.grey {
  color: #bbb;
}
.dark {
  color: #666;
}
.white {
  color: white;
}
.placeholder {
  color: #bbb;
}
.label-success {
  background-color: #35d926;
}
.label-danger {
  background-color: #d92687;
}
.btn-danger {
  background-color: #d92687;
}
.btn-danger[disabled] {
  background-color: #d92687;
}
.header {
  display: table;
  width: 100%;
  margin-top: 1.4em;
}
.header .cell-mixin {
  display: table-cell;
  vertical-align: middle;
}
.header .logo {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.header .logo h1 {
  margin: 0;
  opacity: .5;
}
.header .user-info {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: #bbb;
}
.header .user-info div:first-child {
  font-size: 123%;
  color: #666;
}
.welcome > ul > li {
  margin-bottom: 0.5em;
}
.welcome > ul > li > ul > li:first-child {
  margin-top: 0.5em;
}
.roadmap {
  border-left: 1px solid #eee;
  padding-top: 0.5em;
  padding-left: 3em;
}
.search-result {
  margin-bottom: 1.7em;
}
.search-result p b {
  color: #555;
}
.search-result .search-title a {
  font-size: larger;
}
.search-result .search-title .glyphicon {
  margin-left: 0.2em;
  color: #666;
}
.search-result .search-title .glyphicon:hover {
  color: #444;
}
.search-result .search-tags {
  margin-top: 6px;
}
.tag {
  white-space: nowrap;
  display: inline-block;
  background-color: #eee;
  padding-right: 0.4em;
  margin: 0 0.8em 0.3em 0;
}
.tag:hover {
  background-color: #ddd;
}
.tag > span {
  display: inline-block;
  width: 7px;
  margin-right: 2px;
}
.tag-tip {
  max-width: 100%;
}
.editor-title {
  font-size: larger;
}
textarea {
  max-height: 8em;
}
form .ng-dirty.ng-invalid {
  border: 1px solid #FF1493;
  background-color: #f9f2f4;
}
.fade-in-with-delay.ng-hide-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition-delay: 1s;
  opacity: 0;
  display: block!important;
}
.fade-in-with-delay.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.slide-in-from-right.ng-hide-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  display: block!important;
  width: 0px;
}
.slide-in-from-right.ng-hide-remove.ng-hide-remove-active {
  width: 300px;
}
.my-animate.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
}
.my-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
