
// -------------
// general fixes
// -------------

// always have a scroll bar to avoid layout jumps
html { overflow-y: scroll; }

// fix spacing when a gylphicon is used inside a btn
.btn-glyphicon { margin-right: 0.5em; }

// make these look better when in a bootstrap well
.well-input-group-addon { background-color: white; }

// minimise the FOUC due to bootstrap-select resizing the select element 
//.selectContainer { min-height: 34px; }

// -------
// colours
// -------

@darker: #444;
@dark:   #666;
@grey:   #bbb;
@lesspale: #ddd;
@pale:   #eee;
@white:  #fff;

// ---------
// utilities
// ---------

.cell-mixin {
    display: table-cell;
    vertical-align: middle;
}

// custom table-based layout possibly because i don't quite get boostrap
.layout-row {
    display: table;
    width: 100%;
    .layout-col {
        .cell-mixin;
    }
}

.pointable { cursor: pointer; }

.hoverable-glyphicon {
    color: @dark;
    &:hover { color: @darker; }
}

h2, h3 { color: @dark; }

hr {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

// ie8 placeholder is a bit dark by default (jquery-placeholder plugin)
.placeholder { color: @grey; }

.dark { color: @dark; }

// colours overriding bootstrap's classes (ouch)
@green: rgb(53,217,38);
@pink: rgb(217, 38, 135);

.label-success { background-color: @green; }
.label-danger { background-color: @pink; }
.btn-default {
    background-color: @pale;
    border-color: @pale;
    &:hover {
        background-color: @lesspale;
        border-color: @lesspale;
    }
}
.btn-danger { background-color: @pink; }
.btn-danger[disabled] { background-color: @pink; }

// ---------
// head/foot
// ---------

.header {
    display: table;
    width: 100%;
    margin-top: 1.4em;
    padding-bottom: 0.4em;

    .logo {
        .cell-mixin;
        width: 100%;
        h1 { margin: 0; opacity: .5; }
    }

    .user-info {
        .cell-mixin;
        text-align: right;
        color: @grey;
        div:first-child {
            font-size: 123%;
            color: @dark;
        }
    }
}

// ---------
// home page
// ---------

.welcome {
    // extra spacing on the lists methinks
    > ul > li { margin-bottom: 0.5em; }
    > ul > li > ul > li:first-child { margin-top: 0.5em; }
}

.roadmap {
    border-left: 1px solid @pale;
    padding-top: 0.5em; // keep it definitely below the main welcome heading 
    padding-left: 3em;
}

// ------
// search
// ------

.search-result {
    // bold snippet highlights look too black
    p b {
        color: #555;
    }
    // spacing between each result
    padding-bottom: 0.7em;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.8em;

    .search-format {
        width: 1px; // as small as necessary
        vertical-align: top;
        padding-right: 0.4em;
        font-size: x-large;
        .glyphicon {
            .hoverable-glyphicon;
        }
    }

    .search-title {
        a { font-size: larger; }

        .glyphicon {
            margin-left: 0.3em;
            .hoverable-glyphicon;
        }

        .search-date {
            font-size: larger;
            color: @dark;
            margin-left: 0.1em;
        }
    }

    .search-tags {
        margin-top: 6px;
    }
}


// ----
// tags
// ----

.tag {
    font-size: small;
    white-space:nowrap;
    display: inline-block;
    background-color: @pale;
    padding-right: 0.5em;
    margin: 0 0.8em 0.45em 0;
    &:hover {
        background-color: @lesspale;
    }
    > span {
        display: inline-block;
        width: 7px;
        margin-right: 2px;
    }
}

// ----
// tips
// ----

.tip {
    max-width: 100%;
    // the following stlyes copied from qtip-tipsy built-in style which
    // doesn't currently seem to work properly when used as intended
    color: #fff;
    font-size: 11px;
    font-family: 'Lucida Grande',sans-serif;
    font-weight: 700;
    line-height: 16px;
    text-shadow: 0 1px #000;
}



// ------
// editor
// ------

.date-container { width: 11em; } // consistent widths for date fields

.editor-readonly {
    padding-top: 7px; // hack to counteract .well-sm padding
    .well {
        padding-top: 7px;
        padding-bottom: 7px;
        min-width: 3em;
    }
    .glyphicon {
        margin: 0 2px 0 2px;
        .hoverable-glyphicon;
    }
}

.editor-title {
    font-size:larger;
}

.editor-path {
    //input { border-right: white; } // looks better next to the copy-to-clipboard icon
    .zeroclipboard-is-hover {
        background-color: @lesspale;
    }
}


.editor-abstract {
    padding-top: 0.3em; // feels like it needs a bit of space
    textarea {
        resize: none; // resize ability looks bad with scrollbar
        max-height: 8em;
        padding-right:2em;
    }
}

.editor-internal {
    padding-top: 1.1em;
    .btn .glyphicon { margin-right:0.6em; }
    .btn-default .glyphicon { color: @dark; }
    hr { margin-top: 10px; margin-bottom: 10px; }
}

.editor-notes {
    margin-top: 2em;
}

// validation styles. angular also puts these classes on the form so ignore that
//.ng-dirty.ng-valid { border:1px solid Green; }
form .ng-dirty.ng-invalid {
    border:1px solid #FF1493;
    background-color: #f9f2f4;
}

// ---------
// animation
// ---------

.fade-in-with-delay {
    // animating ngShow is a little tricky - ngIf is easier!
    // this class is added at the start of the animation
    // (when angular removes the .ng-hide class)
    &.ng-hide-remove {
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition-delay: 1s;
        opacity: 0;
        // this needs to be here to make it visible during the animation since
        // the .ng-hide class is already on the element - http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html
        display: block!important;
        // this class is added the end of the animation
        &.ng-hide-remove-active { opacity: 1; }
    }
}

