<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="Data" connectionString="Url=http://localhost:8888/;Database=topcat"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Dev"/>
  </appSettings>
</configuration>
