<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Data" connectionString="Url=http://localhost:8090/;Database=Catalogue.Data.Live" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="Elmah" connectionString="Url=http://localhost:8090/;Database=Catalogue.Data.Live.Elmah" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  
  <appSettings>
    <add key="Environment" value="Live" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Windows" xdt:Transform="SetAttributes" />
  </system.web>
  
</configuration>