<!DOCTYPE html>
<html ng-app="editor" id="ng-app">
    <head>
        <title>Metadata Editor</title>
        <meta name="viewport" content="width=device-width">
        
        <link href="lib/bootstrap-3.0-rc1/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        
        <script src="lib/jquery-1.10.2/jquery.min.js"></script>
        <script src="lib/respond-1.2.0/respond.min.js"></script><!-- required by bootstrap for IE8 -->
        <script src="lib/bootstrap-3.0-rc1/js/bootstrap.min.js"></script>
        <script src="lib/angular-1.1.5/angular.min.js"></script>
        <script src="lib/jquery-placeholder-2.0.7/jquery.placeholder.min.js"></script>
        <script src="lib/jquery.elastic-1.6.11/jquery.elastic.source.js"></script>
        <script src="js/main.js"></script>
        <script src="js/controller1.js"></script>
    </head>
    <body>
                
        <div class="container">
            
        <h1>Metadata editor</h1>

        <br/><br/>

            <div ng-controller="Controller1">
    
            <form name="myForm">

                <input type="text" ng-model="form.name" required autofocus placeholder="Name" class="form-control" style="font-size: larger"/>
                
                <br/><br/>
    
                <div class="form-group">
                    <div>Address</div>
                    <input type="text" ng-model="form.address.line1" size="33" required class="form-control" />
                    <textarea id="expandme" type="text" ng-model="form.address.city" size="12" required elastic class="form-control"></textarea>
                    <input type="text" ng-model="form.address.state" size="2"
                            ng-pattern="state" required/>
                    <input type="text" ng-model="form.address.zip" size="5"
                            ng-pattern="zip" required/>
                </div>

            

                <br/><br/>

                <div class="well">
                    <div>Contacts</div>

                    <div ng-repeat="contact in form.contacts" ng-animate=" 'animate' " class="form-inline form-group">
                        <select ng-model="contact.type" class="form-control" style="width: 140px">
                            <option>email</option>
                            <option>phone</option>
                            <option>pager</option>
                            <option>IM</option>
                        </select>
                        <input type="text" ng-model="contact.value" required placeholder="go on, go on" class="form-control" style="width: 140px"/>
                        <a href="#" ng-click="removeContact(contact)" class="btn btn-primary">X</a>
                    </div>

                    <a href="#" ng-click="addContact()" class="btn btn-primary">ADD</a>

                </div>

                <div class="form-group">
                    <button ng-click="cancel()" ng-disabled="isCancelDisabled()" class="btn">CANCEL</button>
                    <button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn btn-danger">SAVE</button>
                </div>
            </form>
    
            <hr/>
            <h3>Debug</h3>
            <pre>form={{form}}</pre>

        </div>
        </div>
    </body>
</html>
