<!DOCTYPE html>
<html ng-app="app" id="ng-app">
<head>
    <title>Topcat</title>
    <meta name="viewport" content="width=device-width">

    <link href="lib/bootstrap-3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/silviomoreto-bootstrap-select-aeb60b3/bootstrap-select.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <script src="lib/jquery-1.10.2/jquery.min.js"></script>
    <!-- required by bootstrap for IE8 -->
    <script src="lib/respond-1.2.0/respond.min.js"></script>
    <script src="lib/bootstrap-3.0.0/js/bootstrap.min.js"></script>
    <script src="lib/angular-1.2.0-rc.2/angular.min.js"></script>
    <script src="lib/angular-1.2.0-rc.2/angular-resource.min.js"></script>
    <script src="lib/angular-1.2.0-rc.2/angular-route.min.js"></script>
    <script src="lib/angular-strap-0.7.5/angular-strap-min.js"></script>
    <script src="lib/jquery-placeholder-2.0.7/jquery.placeholder.min.js"></script>
    <script src="lib/autosize-1.17.2/jquery.autosize-min.js"></script>
    <script src="lib/silviomoreto-bootstrap-select-aeb60b3/bootstrap-select.min.js"></script>
    <script src="lib/zeroclipboard-1.1.7/zeroclipboard.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script type="text/javascript">
        ZeroClipboard.setDefaults({ moviePath: 'lib/zeroclipboard-1.1.7/ZeroClipboard.swf' });
    </script>
</head>
<body>
    
    <div class="container">
        
        <div class="row ">
            <div class="col-md-6">
                <h1>
                    <img src="img/logo.gif" alt="logo" height="50" width="80"> topcat 
                    <span spinner><img src="img/spinner.gif"/></span>
                </h1>
            </div>
        
            <div class="col-md-6">
                <br />
                <div class="form-group text-right">
                    <button  class="btn btn-primary"><span class="white glyphicon glyphicon-circle-arrow-left"></span> BACK</button>
                    &nbsp;
                    <button ng-click="cancel()"  class="btn">CANCEL</button> <!--ng-disabled="isCancelDisabled()"-->
                    <button ng-click="save()" class="btn btn-danger">SAVE</button> <!--ng-disabled="isSaveDisabled()"-->
                </div>
            </div>
        </div>
        
        <br />

        <div ng-view></div>
          
    </div>

</body>
</html>
