
<div ng-controller="EditorController">

    <form name="theForm">
    
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <input id="xname" type="text" ng-model="form.name" required autofocus placeholder="Name" class="form-control" style="font-size: larger"
                        title="This is the name"
                        tooltip />
                </div>
                    
                <div class="well well-sm form-group">
                    <div class="input-group">
                        <span class="input-group-addon well-input-group-addon"><span class="grey glyphicon glyphicon-th-large"></span></span>

                        <input id="location" name="location" type="text" ng-model="form.location" class="form-control" placeholder="Location"
                            required
                            servervalidation />

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"
                                    ng-disabled="!form.location"
                                locationclipboard
                                data-clipboard-target="location">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
                
            <div class="col-md-9">
                    
                    
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="form-inline">
                            <div class="form-group">
                                <span class="label label-success">&nbsp</span>
                                <span class="label label-default">these are example tags that can be very</span>
                                <span> </span>
                                <span class="label label-warning">&nbsp</span>
                                <span class="label label-default">long</span>
                                <span class="label label-default">blah-blah</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="form-inline">
                            <div class="form-group text-left selectContainer">
                                <select
                                    ng-model="form.topic"
                                    ng-options="topic.key for topic in lookups.topics"
                                    class="form-control"
                                    title="Topic">
                                    <option value="" disabled selected style="display: none">Topic</option>
                                </select>                                    
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" ng-model="form.address.line1" size="33" required class="form-control" />
                </div>
                <div class="form-group">
                    <textarea type="text" ng-model="form.address.city" rows="2" required autosize class="form-control"
                                placeholder="Abstract" 
                                title="This is the abstract"
                                tooltip></textarea>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="form.address.state" size="2" ng-pattern="state" required class="form-control" />
                    </div>
                    <span class="grey glyphicon glyphicon-arrow-right"> </span>
                    <div class="form-group">
                        <input type="text" ng-model="form.address.zip" size="5" ng-pattern="zip" required class="form-control" />
                    </div>
                </div>

                <hr />
                <div class="well well-sm">

                    <div ng-repeat="contact in form.contacts" ng-animate=" 'animate' " class="form-inline form-group">
                        <select ng-model="contact.type" class="form-control" style="width: 140px">
                            <option>email</option>
                            <option>phone</option>
                            <option>pager</option>
                            <option>IM</option>
                        </select>
                        <input type="text" ng-model="contact.value" required placeholder="go on, go on" class="form-control" style="width: 140px" />
                        <a ng-click="removeContact(contact)" class="btn btn-primary">X</a>
                    </div>

                    <a ng-click="addContact()" class="btn btn-primary">ADD</a>

                </div>

                <div class="form-group">
                    <button ng-click="cancel()" ng-disabled="isCancelDisabled()" class="btn">CANCEL</button>
                    <button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn btn-danger">SAVE</button>
                </div>

            </div>

            <div class="col-md-3">
                <div class="well well-sm">
                        
                    <h3>Internal</h3>

                    <div class="form-group">
                        <div class="input-group">
                                
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                <input type="radio" name="options" id="option1"> Internal
                                </label>
                                <label class="btn btn-success">
                                <input type="radio" name="options" id="option2"> Publishable
                                </label>
                            </div>

                        </div>
                    </div>

                    <pre>form={{form}}</pre>
                        
                    <div class="form-group">
                        <textarea type="text" rows="4" autosize class="form-control" placeholder="Notes" title="Notes to keep separate from the Gemini record"></textarea>
                    </div>

                </div>

            </div>

        </div>


    </form>

</div>