<div>

    <form name="theForm">

        <!-- title-and-location  -->
        <div class="row">
            <div class="col-md-12">
                
                <div class="form-group pull-right">
                    <button ng-click="reset()" ng-disabled="isResetDisabled()" class="btn">CANCEL</button>
                    <button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn btn-danger">SAVE</button>
                </div>

                <div class="form-group">
                    <input type="text" ng-model="form.gemini.title" required placeholder="Title" class="form-control"
                        style="font-size: larger"
                        title="The title or name of the resource"
                        required
                        tc-autofocus-if-blank tc-focus-tip />
                </div>

                <div class="well well-sm form-group">
                    <div class="input-group">
                        <span class="input-group-addon well-input-group-addon"><span class="grey glyphicon glyphicon-th-large"></span></span>

                        <input id="form-gemini-resourceLocator" name="form.gemini.resourceLocator" ng-model="form.gemini.resourceLocator" 
                            type="text" class="form-control" 
                            placeholder="Location"
                            tc-server-validation
                            tc-focus-tip title="The path to the resource on the file share or the web" />

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"
                                ng-disabled="!form.gemini.resourceLocator"
                                tc-copy-to-clipboard="form-gemini-resourceLocator"
                                data-clipboard-target="form-gemini-resourceLocator">
                                <span class="glyphicon glyphicon-new-window"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-9">


                <!-- tags and topic  -->
                <div class="row form-group">
                    <div class="col-md-8">
                        
                        <div>
                            <span ng-repeat="k in form.gemini.keywords" tc-tag>
                                <span ng-style="{ 'background-color': hashStringToColor(k.vocab) }">&nbsp;</span>
                                {{ k.value }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="form-inline">
                            <div class="form-group text-left selectContainer">
                                <select
                                    ng-model="form.topic"
                                    ng-options="topic.key for topic in lookups.topics"
                                    class="form-control"
                                    title="The main theme of the data resource">
                                    <option value="" disabled selected style="display: none">Topic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- abstract -->
                <div class="form-group">
                    <textarea type="text" ng-model="form.gemini.abstract" rows="2" class="form-control"
                              placeholder="Abstract"
                              title="A clear, brief summary of the content of the resource"
                              tc-focus-tip tc-autosize></textarea>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control date"
                                    name="form.gemini.temporalExtent.begin" ng-model="form.gemini.temporalExtent.begin"
                                    placeholder="yyyy-mm-dd"
                                    tc-datepicker
                                    tc-focus-tip title="The dates covered by the data resource" />
                                <span class="input-group-addon"><span class="grey glyphicon glyphicon-calendar"></span></span>
                                <span class="grey glyphicon glyphicon-chevron-right" style="margin-left: 2em;"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control date"
                                    name="form.gemini.temporalExtent.end" ng-model="form.gemini.temporalExtent.end"
                                    placeholder="yyyy-mm-dd"
                                    tc-datepicker
                                    tc-focus-tip title="The dates covered by the data resource" />
                                <span class="input-group-addon"><span class="grey glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>



                <hr />
<!--                <div class="well well-sm">-->
<!---->
<!--                    <div ng-repeat="contact in form.contacts" ng-animate=" 'animate' " class="form-inline form-group">-->
<!--                        <select ng-model="contact.type" class="form-control" style="width: 140px">-->
<!--                            <option>email</option>-->
<!--                            <option>phone</option>-->
<!--                            <option>pager</option>-->
<!--                            <option>IM</option>-->
<!--                        </select>-->
<!--                        <input type="text" ng-model="contact.value" required placeholder="go on, go on" class="form-control" style="width: 140px" />-->
<!--                        <a ng-click="removeContact(contact)" class="btn btn-primary">X</a>-->
<!--                    </div>-->
<!---->
<!--                    <a ng-click="addContact()" class="btn btn-primary">ADD</a>-->
<!---->
<!--                </div>-->

                <div class="form-group">
                    <button ng-click="reset()" ng-disabled="isResetDisabled()" class="btn">CANCEL</button>
                    <button ng-click="save()" ng-disabled="isSaveDisabled()" class="btn btn-danger">SAVE</button>
                </div>

            </div>

            <div class="col-md-3">
                <div class="well well-sm">

                    <h3>Internal</h3>

                    <div class="form-group">
                        <div class="input-group">

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option1">
                                    Internal
                                </label>
                                <label class="btn btn-success">
                                    <input type="radio" name="options" id="option2">
                                    Publishable
                                </label>
                            </div>

                        </div>
                    </div>

                    <pre>form={{form}}</pre>

                    <div class="form-group">
                        <textarea type="text" rows="4" tc-autosize class="form-control" placeholder="Notes" title="Notes to keep separate from the Gemini record"></textarea>
                    </div>

                </div>

            </div>

        </div>


    </form>

</div>
