

<h1>Open data publishing</h1>

<hr />

<div class="publishing">
    <div class="publishing-summary">
        <span class="publishing-summary-item"><span>{{opendata.summary.countOfPublishedSinceLastUpdated}}</span> records published and up-to-date</span>
        <span class="publishing-summary-item"><span>{{opendata.summary.countOfNotYetPublishedSinceLastUpdated}}</span> records pending publication</span>
        <span class="publishing-summary-item"><span>{{opendata.summary.countOfPublicationNeverAttempted}}</span> records not attempted yet</span>
        <span class="publishing-summary-item"><span>{{opendata.summary.countOfLastPublicationAttemptWasUnsuccessful}}</span> records failed last publication</span>
    </div>
</div>

<hr />
{{opendata.pending}}
