

<h1>Final approval for Open Data publishing</h1>
<p>Records that appear on this page have already been risk assessed and require sign off by an Information Asset Owner (IAO) in order to be published to data.gov.uk. If you have been identified as an IAO, then you will be able to sign off a record by clicking on the sign off button next to it.</p>
<br/>

<div class="publishing">
    <table class="table publishing-list">
        <thead>
            <tr>
                <th class="first">Records pending final approval ({{m.openData.list.length}})</th>
                <th>Metadata date</th>
                <th>Assessed by</th>
                <th>Last published to JNCC ResourceHub</th>
                <th>Last published to data.gov.uk</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in m.openData.list">
                <td><a ng-href="#/editor/{{r.id}}" target="_blank" ng-bind-html="r.title"></a></td>
                <td><span tc-tip title="{{r.metadataDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{r.metadataDate | date}}</span></td>
                <td>{{r.publicationInfo.assessment.completedByUser.displayName}}</td>
                <td>
                    <span ng-if="r.publicationInfo.hub.lastSuccess != null">
                        <span tc-tip title="{{r.publicationInfo.hub.lastSuccess.dateUtc | date:'yyyy-MM-dd HH:mm:ss'}}">
                            {{r.publicationInfo.hub.lastSuccess.dateUtc | date}}
                        </span>
                        <span ng-if="form.publication.hub.lastSuccess.dateUtc && !recordOutput.publishingPolicy.hubRecord"
                              class="glyphicon glyphicon-warning-sign"
                              title="The record will no longer be updated at this destination, does it need to be removed?"
                              tc-tip></span>
                    </span>
                    <span ng-if="r.publicationInfo.hub.lastSuccess == null">Never</span>
                </td>
                <td>
                    <span ng-if="r.publicationInfo.gov.lastSuccess != null">
                        <span tc-tip title="{{r.publicationInfo.gov.lastSuccess.dateUtc | date:'yyyy-MM-dd HH:mm:ss'}}">
                            {{r.publicationInfo.gov.lastSuccess.dateUtc | date}}
                        </span>
                        <span ng-if="form.publication.gov.lastSuccess.dateUtc && !recordOutput.publishingPolicy.govRecord"
                              class="glyphicon glyphicon-warning-sign"
                              title="The record will no longer be updated at this destination, does it need to be removed?"
                              tc-tip></span>
                    </span>
                    <span ng-if="r.publicationInfo.gov.lastSuccess == null">Never</span>
                </td>
                <td>
                    <button class="btn btn-danger sign-off"
                            tc-tip title="Publishing sign off for Information Asset Owners"
                            ng-click="signOffButtonClick(r.id)"
                            ng-disabled="m.signOffStatus[r.id] == 'Signed Off'"
                            ng-if="user.isIaoUser">
                        <span ng-if="m.signOffStatus[r.id] == 'Sign Off'" class="glyphicon glyphicon-check"></span>
                        <span ng-if="m.signOffStatus[r.id] == 'Signed Off'" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="m.signOffStatus[r.id].indexOf('Cancel') == 0" class="glyphicon glyphicon-remove sign-off"></span>
                        <span ng-if="m.signOffStatus[r.id] == 'Retry?'" class="glyphicon glyphicon-warning-sign"></span>
                        &nbsp;{{ m.signOffStatus[r.id] }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>


