

<h1>IAO publishing sign off</h1>
<p>Records that appear on this page have already been risk assessed and require sign off by an Information Asset Owner (IAO) in order to be published to data.gov.uk. If you have been identified as an IAO, then you will be able to sign off a record by clicking on the sign off button next to it.</p>
<br/>

<div class="publishing">
    <table class="table publishing-list">
        <thead>
        <tr>
            <th>Records pending IAO sign off ({{status.pendingSignOffCount}})</th>
            <th>Metadata date</th>
            <th>Gemini</th>
            <th>Risk assessed by</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in m.openData.list">
                <td><a ng-href="#/editor/{{r.id}}" target="_blank" ng-bind-html="r.title"></a></td>
                <td><span tc-tip title="{{r.metadataDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{r.metadataDate | date}}</span></td>
                <td>{{r.isGeminiValid}}</td>
                <td>{{r.openData.assessment.completedByUser.displayName}}</td>
                <td>
<!--                    <div class="btn-group" ng-class="{open: open}"-->
<!--                         ng-if="isIaoUser && r.openData.assessment.completed && !r.openData.signOff">-->
                        <button class="btn btn-danger sign-off"
                                tc-tip title="Publishing sign off for Information Asset Owners"
                                ng-click="signOffButtonClick(r.id)"
                                ng-disabled="m.signOffStatus[r.id] == 'Signed Off'"
                                ng-if="user.isIaoUser && r.openData.assessment.completed && !r.openData.signOff">
                            <span ng-if="m.signOffStatus[r.id] == 'Sign Off'" class="glyphicon glyphicon-check"></span>
                            <span ng-if="m.signOffStatus[r.id] == 'Signed Off'" class="glyphicon glyphicon-ok"></span>
                            <span ng-if="m.signOffStatus[r.id].indexOf('Cancel') == 0" class="glyphicon glyphicon-remove sign-off"></span>
                            <span ng-if="m.signOffStatus[r.id] == 'Retry?'" class="glyphicon glyphicon-warning-sign"></span>
                            &nbsp;{{ m.signOffStatus[r.id] }}
                        </button>
<!--                        <button class="btn btn-danger dropdown-toggle"-->
<!--                                data-toggle="dropdown"-->
<!--                                ng-click="open=!open"-->
<!--                                ng-disabled="signOffStatus[r.id] == 'Signed Off'">-->
<!--                            <span class="caret"></span>-->
<!--                        </button>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a tc-tip title="Review and add comments to the risk assessment" ng-href="#">Review</a></li>-->
<!--                            <li><a tc-tip title="Reject publishing for this dataset" ng-href="#">Reject</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </td>
            </tr>
        </tbody>
    </table>

</div>


